@charset "utf-8";
/* CSS Document */

/* BEGIN CSS "Clean Slate" */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS "Clean Slate" */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


#pageContent {
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 50px;
	width: 750px;
	height: 690px;
}

.here {
	color: red;
	font-weight: bold;
}
.textC {
	color:#000;
	}
.catName {
	font-size: 20px;
	margin-bottom: 10px;
}
.funfacts {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.floatleft {
	float: left;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: medium;
	border-style: solid;
	border-color: black;
}

.videoContainer {
    text-align: center;
}

.displayCenter {
    display: inline-block;
    border: 2px solid black;
}
#mainContent p.firstP::first-letter{
	color: red;
	font-size: 20px;
}
#rightSidebar {
	float: right;
	width: 120px;
	height: 150px;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-width: thin;
	border-style: solid;
}
.sidebarh2 {
	font-size: 14px;
	margin-bottom: 10px;
}
p {
    font-size: 14px;
	margin-bottom: 10px;
}
header {
	font-size: 30px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #333;
	font-weight: bold;
}
nav {
	font-size: 14px;
	background-color: #D9FFA8;
	padding: 5px;
	margin-top: 5px;
}
main {
	font-size: 12px;
	padding: 5px;
	padding-top: 15px;
}
footer {
	font-size: 10px;
	clear: both;
	margin-top: 10px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #666;
}